<h3>Twoje pomiary</h3>
<hr />

<div *ngIf="data.measurements.length !== 0">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Ostatni pomiar
        </mat-panel-title>
        <mat-panel-description>
          {{ data.date | date: "shortDate" }}
        </mat-panel-description>
      </mat-expansion-panel-header>

      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let bodyPart of data.measurements">
            <td class="font-weight-bold">{{ bodyPart.name }}</td>
            <td>{{ bodyPart.size }} cm</td>
          </tr>
        </tbody>
      </table>
    </mat-expansion-panel>
  </mat-accordion>
</div>

<div *ngIf="!showAddMeasurements">
  <button class="btn btn-primary my-2" (click)="showAddMeasurements = true">
    Dodaj pomiar
  </button>
</div>

<div *ngIf="showAddMeasurements">
  <form [formGroup]="addMeasurementForm" (ngSubmit)="onSubmit()">
    <div class="row mt-3">
      <div class="col">
        <div class="form-row">
          <div class="form-group col-6 col-md-4">
            <label for="weight">Waga:</label>
            <input
              type="number"
              class="form-control"
              formControlName="weight"
              id="weight"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('weight').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>

          <div class="form-group col-6 col-md-4">
            <label for="neck">Kark:</label>
            <input
              type="number"
              class="form-control"
              formControlName="neck"
              id="neck"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('neck').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-6 col-md-4">
            <label for="shoulder">Ramię:</label>
            <input
              type="number"
              class="form-control"
              formControlName="shoulder"
              id="shoulder"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('shoulder').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>

          <div class="form-group col-6 col-md-4">
            <label for="hips">Biodra:</label>
            <input
              type="number"
              class="form-control"
              formControlName="hips"
              id="hips"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('hips').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6 col-md-4">
            <label for="waist">Talia:</label>
            <input
              type="number"
              class="form-control"
              formControlName="waist"
              id="waist"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('waist').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>

          <div class="form-group col-6 col-md-4">
            <label for="thigh">Udo:</label>
            <input
              type="number"
              class="form-control"
              formControlName="thigh"
              id="thigh"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('thigh').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6 col-md-4">
            <label for="chest">Klatka piersiowa:</label>
            <input
              type="number"
              class="form-control"
              formControlName="chest"
              id="chest"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('chest').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>

          <div class="form-group col-6 col-md-4">
            <label for="forearm">Przedramię:</label>
            <input
              type="number"
              class="form-control"
              formControlName="forearm"
              id="forearm"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('forearm').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-6 col-md-4">
            <label for="calf">Łydka:</label>
            <input
              type="number"
              class="form-control"
              formControlName="calf"
              id="calf"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('calf').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>

          <div class="form-group col-6 col-md-4">
            <label for="ankle">Staw skokowy:</label>
            <input
              type="number"
              class="form-control"
              formControlName="ankle"
              id="ankle"
              required
            />
            <span
              *ngIf="
                addMeasurementForm.get('ankle').hasError('required') &&
                formSubmitted
              "
              class="help-block"
            >
              To pole jest wymagane
            </span>
          </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success">Zapisz</button>
  </form>
</div>
