.navbar-brand {
    font-size: 26px;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 500;
}

#navbar-bottom .nav-item .nav-link:hover {
    background-color: #33BCCC;
}

#navbar-top .dropdown .dropdown-toggle {
    padding: 0;
}

#navbar-top .dropdown .dropdown-menu {
    min-width: 0;
    padding-right: 0;
    left: -80px;
    padding: 0;
}

#navbar-bottom .dropdown .dropdown-menu {
    margin: 0;
    background-color: #007bff;
}

#navbar-bottom .dropdown .dropdown-menu .dropdown-item{
    color: white;
}

#navbar-bottom .dropdown .dropdown-menu .dropdown-item:hover {
    background-color: #33BCCC;
}

fa-icon {
    font-size: 32px;
    padding: 0;
}
