<nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
      <div class="navbar-header">
          <a routerLink="/" class="navbar-brand"><img src="assets/img/ic_launcher.png"> FitnessGoals</a>
      </div>

      <div>

        <ul class="nav">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" routerLink="/">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" routerLink="/login">Zaloguj się</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link text-white" routerLink="/register">Zarejestruj się</a>
          </li>
        </ul>
      
      </div>

      <div>



          <!-- <ul class="nav navbar-nav navbar-right">
              <li class="dropdown" appDropdown>
                  <a class="dropdown-toggle" style="cursor: pointer;">cos <span class="caret"></span></a>
              
                  <ul class="dropdown-menu">
                      <li><a style="cursor: pointer;">cos1</a></li>
                      <li><a style="cursor: pointer;">cos2</a></li>
                  </ul>                
              </li>
          </ul> -->
      </div>
  </div>   
</nav>
