<nav
  class="navbar navbar-expand-lg navbar-dark py-1"
  style="background-color: #46208d;"
>
  <a
    class="navbar-brand"
    routerLink="/"
    data-toggle="collapse"
    data-target=".navbar-collapse.show"
  >
    <img src="assets/img/ic_launcher.png" width="36px" /> FitnessGoals
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="collapse navbar-collapse"
    id="navbarText"
    *ngIf="role == 'ROLE_GUEST'"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/articles">Artykuły</a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/programmes"
          >Dieta i plany treningowe</a
        >
      </li>
      <li
        class="dropdown nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-link"
          style="cursor: pointer;"
          id="dropdownCalculatorsButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Kalkulatory
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownCalculatorsButton">
          <a class="dropdown-item" routerLink="/bmi">BMI</a>
          <a class="dropdown-item" routerLink="/calories">Zapotrzebowanie</a>
        </div>
      </li>
      <li
        class="dropdown nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-link"
          style="cursor: pointer;"
          id="dropdownOpinionsButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Opinie
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownOpinionsButton">
          <a class="dropdown-item" routerLink="/opinions/trainers">Trenerzy</a>
          <a class="dropdown-item" routerLink="/opinions/diets">Diety</a>
        </div>
      </li>
    </ul>

    <a
      class="nav-link text-white"
      routerLink="/login"
      style="cursor: pointer; padding: 0;"
    >
      Zaloguj się
    </a>
  </div>

  <div
    class="collapse navbar-collapse"
    id="navbarText"
    *ngIf="role == 'ROLE_USER'"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/articles">Artykuły</a>
      </li>

      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/programmes"
          >Dieta i plany treningowe</a
        >
      </li>
      <li
        class="dropdown nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-link"
          style="cursor: pointer;"
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Kalkulatory
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" routerLink="/bmi">BMI</a>
          <a class="dropdown-item" routerLink="/calories">Zapotrzebowanie</a>
        </div>
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/chat">Czat</a>
      </li>
      <li
        class="dropdown nav-item"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a
          class="nav-link"
          style="cursor: pointer;"
          id="dropdownOpinionsButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Opinie
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownOpinionsButton">
          <a class="dropdown-item" routerLink="/opinions/trainers">Trenerzy</a>
          <a class="dropdown-item" routerLink="/opinions/diets">Diety</a>
        </div>
      </li>
    </ul>

    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle text-white"
        style="cursor: pointer; padding: 0;"
        id="dropdownUserSettingsButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <img
          [src]="userAvatar"
          style="width: 40px; height: 40px; border-radius: 50%"
        />
        <span style="margin-left: 5px;">{{ username }}</span>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownUserSettingsButton">
        <a class="dropdown-item" routerLink="/profile">Twój profil</a>
        <a class="dropdown-item" routerLink="/" (click)="onLogout()">Wyloguj</a>
      </div>
    </div>
  </div>

  <div
    class="collapse navbar-collapse"
    id="navbarText"
    *ngIf="role == 'ROLE_EMPLOYEE'"
  >
    <ul class="navbar-nav mr-auto">
      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/trainingPlan"
          >Tworzenie planu treningowego</a
        >
      </li>
      <li
        class="nav-item"
        routerLinkActive="active"
        data-toggle="collapse"
        data-target=".navbar-collapse.show"
      >
        <a class="nav-link" routerLink="/">Sprawdź zamówienia</a>
      </li>
    </ul>

    <div class="dropdown">
      <a
        class="nav-link dropdown-toggle text-white"
        style="cursor: pointer; padding: 0;"
        id="dropdownUserSettingsButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownUserSettingsButton">
        <a class="dropdown-item" routerLink="/" (click)="onLogout()">Wyloguj</a>
      </div>
    </div>
  </div>
</nav>
