.row {
  background-image: url("../../../assets/img/imgCalories.jpg");
  color: white;
  min-height: 100vh;
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
  text-align: center;
}

#result,
#description {
  margin-top: 25px;
}
