<ul>
  <div *ngFor="let opinion of opinions">
    <div class="row my-3">
      <div class="col-2">
        <img
          class="mx-auto"
          [src]="opinion.photo"
          width="100px"
          height="100px"
        /><br />
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-9">
            <p>{{ opinion.username }}</p>
          </div>
          <div class="col-3">
            {{ opinion.date | date: "dd-MM-yyyy" }}
          </div>
        </div>
        <div class="row">
          <div class="col">
            {{ opinion.message }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="showAddOpinion">
    <form [formGroup]="opinionForm" (ngSubmit)="addOpinion()">
      <div class="row">
        <div class="col-10">
          <input type="text" class="form-control" formControlName="opinion" />
        </div>
      </div>

      <button
        type="submit"
        class="btn btn-primary my-2"
        [disabled]="!opinionForm.valid"
      >
        Dodaj opinię
      </button>
    </form>
  </div>
</ul>
