<div class="container">
  <div class="row">
    <div class="col-4">
      <img class="m-3" src="./../../assets/img/app.jpg" alt="..." />
    </div>
    <div class="col-8 my-3">
      <h2>
        Plany treningowe
      </h2>
      <p>
        Indywidualny plan treningowy ułożony według Twojego określonego celu
      </p>
      <ul>
        <li>określasz, ile razy w tygodniu chcesz trenować</li>
        <li>podajesz swój staż</li>
        <li>
          treningowy dostosowujesz trening do swojego grafiku - dni treningowe
        </li>
        <li>
          określasz, gdzie chcesz trenować - na siłowni czy w domu dostajesz
        </li>
        <li>nieograniczony kontakt z trenerem</li>
      </ul>
      <a href="https://play.google.com/store" target="_blank">
        <button class="btn btn-success">Pobierz aplikację</button>
      </a>
    </div>
  </div>
</div>
