<div class="row">
  <div class="col-4">
    <p>sadjsadsaasadjsadsaasadjsadsaasadjsa dsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadj sadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasddddddddddddddsadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaasadjsadsaaasdddddddddddddd</p>
  </div>
  <div class="col-4">
    <p>sadjsadsa</p>
  </div>
</div>
