.row {
  background-image: url("../../assets/img/tlo_home.jpg");
  color: white;
  height: 100vh;
}
.text1 {
  font-family: Impact;
  font-size: 70px;
  margin: 15px;
}
.text2 {
  font-family: Marker Felt;
  font-size: 30px;
  margin: 20px 0px 40px 0px;
}
.text3 {
  margin: 15px;
}
.text4 {
  font-family: cursive;
  font-size: 30px;
  margin: 40px 0px 0px 20px;
}
.text5 {
  font-family: "Cambria Math";
  font-size: 30px;
}
