<div class="row">
  <div class="col mx-auto">
 
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="formHeader">
            <h1>ZAREJESTRUJ SIĘ</h1>
            <p>Wypełnij formularz, aby założyć konto</p>
        </div>

        <div class="form-group">
          <label for="username">Nazwa użytkownika:</label>
          <input type="text" class="form-control" formControlName="username" id="username" required>
        </div>
        <div class="form-group">
          <label for="email">Adres e-mail:</label>
          <input type="email" class="form-control" formControlName="email" required>
        </div>
        <div class="form-group">
          <label for="repeatEmail">Powtórz adres e-mail:</label>
          <input type="email" class="form-control" formControlName="repeatEmail" required>
        </div>
        <div class="form-group">
          <label for="pass">Hasło:</label>
          <input type="password" class="form-control" formControlName="pass" required>  
        </div>
        <div class="form-group">
          <label for="repPass">Powtórz hasło:</label>
          <input type="password" class="form-control" formControlName="repPass" required>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Data urodzenia: </label>
          <input type="date" id="dateOfBirth" class="form-control" formControlName="dateOfBirth" required>
        </div>
        <div class="form-group">
          <label for="photoUrl">Link do avatara: </label>
          <input type="text" id="photoUrl" class="form-control" formControlName="photoUrl" required>
        </div>
        <div class="formFooter">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" formControlName="rulesCheck" id="rulesCheck">
                <label class="form-check-label" for="rulesCheck">
                    Akceptuję regulamin FitnessGoals
                </label>
            </div>
          <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Załóż konto</button>
        </div>
      </form>
    </div>
</div>
