<div class="row">
  <div class="col mx-auto">
    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="registerForm">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <ng-template matStepLabel>Dane podstawowe</ng-template>
          <div>
            <mat-form-field>
              <input matInput type="text" placeholder="Nazwa użytkownika" formControlName="username" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="email" placeholder="E-mail" formControlName="email" required>
            </mat-form-field>
          </div>
          <!-- <div>
            <mat-form-field>
              <input matInput type="email" placeholder="Powtórz e-mail" formControlName="repeatEmail" required>
            </mat-form-field>
          </div> -->
          <div>
            <mat-form-field>
              <input matInput type="password" placeholder="Hasło" formControlName="pass" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="password" placeholder="Powtórz hasło" formControlName="repPass" required>
            </mat-form-field>
          </div>

          <div>
            <button mat-raised-button color="primary" matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="registerForm">
        <form [formGroup]="registerForm">
          <ng-template matStepLabel>Dane szczególowe</ng-template>
          <div>
            <mat-form-field>
              <input matInput [matDatepicker]="myDatepicker" placeholder="Data urodzenia">
              <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field>
              <input matInput type="url" placeholder="Link do zdjęcia profilowego" formControlName="pass" required>
            </mat-form-field>
          </div>
          <div>
              <button mat-raised-button color="primary"  matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div>
          <div>
            <mat-checkbox color="accent">Akceptuje regulamin</mat-checkbox>
          </div>
          <button mat-raised-button color="warn" mat-button (click)="stepper.reset()">Reset</button>
          <button mat-raised-button color="primary" type="submit" class=" mx-2">Załóż konto</button>

        </div>
      </mat-step>
    </mat-vertical-stepper>
  </div>
</div>
